DATA_DIR=./data
DICOM_WEB_VIEWER_ROOT=C:\path\to\web-viewer
CASES_EXCEL_PATH=./data/all_cases.xlsx
USERS_EXCEL_PATH=./data/users/users.xlsx
QUESTIONS_EXCEL_PATH=./data/rating_questions/questions.xlsx
CASES_ROOT=./data/cases
